<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Book</title>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" type="text/css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />

    <!--<link rel="stylesheet" type="text/css" media="all" href="../../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />

    <script type="text/javascript" th:src="@{/js/jquery.min.js}" src="js/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}" src="js/bootstrap.min.js"></script>-->
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" th:href="@{/}">Maxima Libri</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li th:if="${role} == 'ROLE_USER' or ${role} == 'ROLE_ADMIN'"><a th:href="@{/user}">My account</a></li>
                <li th:if="${role} == 'ROLE_USER' or ${role} == 'ROLE_ADMIN'"><a th:href="@{/logout}">Logout</a></li>
                <li th:if="${role} != 'ROLE_USER' and ${role} != 'ROLE_ADMIN'"><a th:href="@{/login}">Login</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">

    <h1>Notes</h1>

    <form class="form-group" action="/book/admin/bookEdit" th:action="@{/book/admin/bookEdit}" method="post">
        <div class="form-group">
            <label for="isbn">Isbn</label>
            <input type="text" class="form-control" id="isbn" th:field="${book.isbn}" />
        </div>
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" th:field="${book.title}" />
        </div>
        <div class="form-group">
            <label for="author">Author</label>
            <input type="text" class="form-control" id="author" th:field="${book.author}" />
        </div>
        <div class="form-group">
            <label for="yearOfPublication">Year of publication</label>
            <input type="text" class="form-control" id="yearOfPublication" th:field="${book.yearOfPublication}" />
        </div>
        <div class="form-group">
            <label for="publisher">Publisher</label>
            <input type="text" class="form-control" id="publisher" th:field="${book.publisher}" />
        </div>
        <div class="form-group">
            <label for="imageUrlS">Image URL S</label>
            <input type="text" class="form-control" id="imageUrlS" th:field="${book.imageUrlS}" />
        </div>
        <div class="form-group">
            <label for="imageUrlS">Image URL M</label>
            <input type="text" class="form-control" id="imageUrlM" th:field="${book.imageUrlM}" />
        </div>
        <div class="form-group">
            <label for="imageUrlS">Image URL L</label>
            <input type="text" class="form-control" id="imageUrlL" th:field="${book.imageUrlL}" />
        </div>

        <!--/* <div class="form-group">
             <label for="description">Description</label>
             <textarea class="form-control" id="description" th:field="${book.description}"></textarea>
         </div>*/-->
         <button type="submit" class="btn btn-primary">Save</button>
         <a href="#" th:href="@{/}" class="btn btn-danger" role="button">Cancel</a>
     </form>

 </div>

 </body>
 </html>