<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" type="text/css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
    <meta charset="UTF-8">
    <title>Book show</title>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" th:href="@{/}">Maxima Libri</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li th:if="${role} == 'ROLE_USER' or ${role} == 'ROLE_ADMIN'"><a th:href="@{/user}">My account</a></li>
                <li th:if="${role} == 'ROLE_USER' or ${role} == 'ROLE_ADMIN'"><a th:href="@{/logout}">Logout</a></li>
                <li th:if="${role} != 'ROLE_USER' and ${role} != 'ROLE_ADMIN'"><a th:href="@{/login}">Login</a></li>
            </ul>
        </div>
    </div>
</nav>

<div>
    <h2>Text hidden by navbar</h2>
    <p th:text="${book.getIsbn()}">Isbn</p>
    <p th:text="${book.getBook_Title()}">Title</p>
    <p th:text="${book.getBook_Author()}">Author</p>
    <p th:text="${book.getYear_Of_Publication()}">Year of publication</p>
    <p th:text="${book.getPublisher()}">Publisher</p>
    <p th:text="${description}">Description for this book is not available</p>
    <p th:text="${book.getAverage()}">Rating</p>
    <p><a th:href="@{https://www.goodreads.com/search?q=__${book.getIsbn()}__}">Find this book on GoodReads</a></p>
    <img th:src="@{${book.getImage_Url_L()}}"/>

    <div th:if="${role} == 'ROLE_ADMIN'">
        <a href="admin/bookEdit/1" th:href="@{/book/admin/bookEdit/__${book.getIsbn()}__}">Edit</a>
    </div>
    <form th:if="${role} == 'ROLE_USER' or ${role} == 'ROLE_ADMIN'" class="form-group" th:action="@{/book/show}" th:object="${bookRating}" method="post">

        <div class="form-group">
            <input type="hidden" class="form-control" id="userId" th:field="*{bookRatingId.userId}" />
            <input type="hidden" class="form-control" id="isbn" th:field="*{bookRatingId.isbn}" />
            <label th:if="${bookRating.bookRating} != 0" for="userRating">You already rated this book</label>
            <label th:if="${bookRating.bookRating} == 0" for="userRating">Rate this book!</label>
            <input type="text" class="form-control" id="userRating" th:field="*{bookRating}" />
        </div>
        <button type="submit" class="btn btn-primary">Rate!</button>
    </form>
</div>

</body>
</html>