<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" type="text/css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />

    <title>Maxima Libri</title>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" th:href="@{/}">Maxima Libri</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li th:if="${role} == 'ROLE_USER' or ${role} == 'ROLE_ADMIN'"><a th:href="@{/user}">My account</a></li>
                <li th:if="${role} == 'ROLE_USER' or ${role} == 'ROLE_ADMIN'"><a th:href="@{/logout}">Logout</a></li>
                <li th:if="${role} != 'ROLE_USER' and ${role} != 'ROLE_ADMIN'"><a th:href="@{/login}">Login</a></li>
                <li ><a th:href="@{/contact-admin}">Contact admin</a></li>
            </ul>
        </div>
    </div>
</nav>

<br>
<br>
<br/>
<div class="container">

    <h2></h2>

    <h2></h2>
    <!--<div sec:authorize="hasRole('ROLE_USER')">Text visible to user.</div>
    <div sec:authorize="hasRole('ROLE_ADMIN')">Text visible to admin.</div>
    <div sec:authorize="isAuthenticated()">
        Text visible only to authenticated users.
    </div>
    Authenticated username:
    <div sec:authentication="name"></div>
    Authenticated user roles:
    <div sec:authentication="principal.authorities"></div> -->

    <!--<p th:if="${role} == 'ROLE_USER'">Text only for user</p>
    <p th:if="${role} == 'ROLE_ADMIN'">Text only for admin</p>-->

    <form id="searchForm" class="form-group" th:action="@{/search}" th:object="${searchForm}" method="post">
        <input type="text" id="stringParameter" th:field="*{stringParameter}">
        <input type="submit" value="Search" class="btn btn-primary"/>
    </form>

    <div class="container">
        <div th:each="book : ${bookList}" class="col-md-6">
            <h5><a th:href="@{/book/show/__${book.getIsbn()}__}"><p th:text="${book.getBook_Title()}">Title</p></a></h5>
            <p th:text="${book.getIsbn()}">Isbn</p>
            <p th:text="${book.getBook_Author()}">Author</p>
            <p th:text="${book.getYear_Of_Publication()}">Year of publication</p>
            <p th:text="${book.getPublisher()}">Publisher</p>
            <p th:text="${book.getAverage()}">Rating</p>
            <img th:src="@{${book.getImage_Url_M()}}"/>
            <br/>
            <br/>
        </div>
    </div>

</div>

<script type="text/javascript"
        th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
<script type="text/javascript"
        th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

</body>
</html>