<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" type="text/css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
    <title>UserMe</title>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" th:href="@{/}">Maxima Libri</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li th:if="${role} == 'ROLE_USER' or ${role} == 'ROLE_ADMIN'"><a th:href="@{/user}">My account</a></li>
                <li th:if="${role} == 'ROLE_USER' or ${role} == 'ROLE_ADMIN'"><a th:href="@{/logout}">Logout</a></li>
                <li th:if="${role} != 'ROLE_USER' and ${role} != 'ROLE_ADMIN'"><a th:href="@{/login}">Login</a></li>
                <li ><a th:href="@{/contact-admin}">Contact admin</a></li>
            </ul>
        </div>
    </div>
</nav>

<br/>
<br/>
<br/>
<h2>Hello!</h2>
<label>Username</label>
<p th:text="${user.username}">Isbn</p>
<label>Email</label>
<p th:text="${user.email}">Title</p>

<div th:if="${role} == 'ROLE_ADMIN'">
    <form id="searchForUsers" class="form-group" th:action="@{/user/search-users}" th:object="${searchForUsers}" method="post">
        <input type="text" id="stringParameter" th:field="*{stringParameter}">
        <input type="submit" value="Search users" class="btn btn-primary"/>
    </form>
</div>

<h3>History</h3>
<table class="table">
    <thead>
    <tr>
        <th>Isbn</th>
        <th>Title</th>
        <th>Author</th>
        <th>Rating</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${userHistory}">
        <td th:text="${book.getIsbn()}">1</td>
        <td>
            <a th:href="@{/book/show/__${book.getIsbn()}__}"><p th:text="${book.getBook_Title()}">Title</p></a>
        </td>
        <td th:text="${book.getBook_Author()}"></td>
        <td th:text="${book.getBook_Rating()}"></td>
    </tr>
    </tbody>
</table>

<div th:if="${isRecommendation} == true">
    <h3><p>Let us recommend you some new books you might like!</p></h3>
    <div class="container">
        <!--<div th:each="book : ${RecommendationsList}" class="col-md-1">-->
            <!--<p th:text="${book.getIsbn()}">Isbn</p>-->
            <!--<a th:href="@{/book/show/__${book.getIsbn()}__}"><p th:text="${book.getBook_Title()}">Title</p></a>-->
            <!--<p th:text="${book.getBook_Author()}">Author</p>-->
            <!--<p th:text="${book.getYear_Of_Publication()}">Year of publication</p>-->
            <!--<p th:text="${book.getPublisher()}">Publisher</p>-->
            <!--<p th:text="${book.getAverage()}">Rating</p>-->
            <!--<img th:src="@{${book.getImage_Url_M()}}"/>-->
        <!--</div>-->
        <div  class="col-md-8">
            <a th:href="@{/book/show/__${RecommendationsList[0].getIsbn()}__}"><p th:text="${RecommendationsList[0].getBook_Title()}">Title</p></a>
            <p th:text="${RecommendationsList[0].getIsbn()}">Isbn</p>
            <p th:text="${RecommendationsList[0].getBook_Author()}">Author</p>
            <p th:text="${RecommendationsList[0].getYear_Of_Publication()}">Year of publication</p>
            <p th:text="${RecommendationsList[0].getPublisher()}">Publisher</p>
            <p th:text="${RecommendationsList[0].getAverage()}">Rating</p>
            <img th:src="@{${RecommendationsList[0].getImage_Url_M()}}"/>
            <br/>
            <br/>
        </div>
        <div  class="col-md-4">
            <a th:href="@{/book/show/__${RecommendationsList[1].getIsbn()}__}"><p th:text="${RecommendationsList[1].getBook_Title()}">Title</p></a>
            <p th:text="${RecommendationsList[1].getIsbn()}">Isbn</p>
            <p th:text="${RecommendationsList[1].getBook_Author()}">Author</p>
            <p th:text="${RecommendationsList[1].getYear_Of_Publication()}">Year of publication</p>
            <p th:text="${RecommendationsList[1].getPublisher()}">Publisher</p>
            <p th:text="${RecommendationsList[1].getAverage()}">Rating</p>
            <img th:src="@{${RecommendationsList[1].getImage_Url_M()}}"/>
            <br/>
            <br/>
        </div>
        <div  class="col-md-4">
            <a th:href="@{/book/show/__${RecommendationsList[2].getIsbn()}__}"><p th:text="${RecommendationsList[2].getBook_Title()}">Title</p></a>
            <p th:text="${RecommendationsList[2].getIsbn()}">Isbn</p>
            <p th:text="${RecommendationsList[2].getBook_Author()}">Author</p>
            <p th:text="${RecommendationsList[2].getYear_Of_Publication()}">Year of publication</p>
            <p th:text="${RecommendationsList[2].getPublisher()}">Publisher</p>
            <p th:text="${RecommendationsList[2].getAverage()}">Rating</p>
            <img th:src="@{${RecommendationsList[2].getImage_Url_M()}}"/>
            <br/>
            <br/>
        </div>
        <div  class="col-md-4">
            <a th:href="@{/book/show/__${RecommendationsList[3].getIsbn()}__}"><p th:text="${RecommendationsList[3].getBook_Title()}">Title</p></a>
            <p th:text="${RecommendationsList[3].getIsbn()}">Isbn</p>
            <p th:text="${RecommendationsList[3].getBook_Author()}">Author</p>
            <p th:text="${RecommendationsList[3].getYear_Of_Publication()}">Year of publication</p>
            <p th:text="${RecommendationsList[3].getPublisher()}">Publisher</p>
            <p th:text="${RecommendationsList[3].getAverage()}">Rating</p>
            <img th:src="@{${RecommendationsList[3].getImage_Url_M()}}"/>
            <br/>
            <br/>
        </div>
        <div  class="col-md-4">
            <a th:href="@{/book/show/__${RecommendationsList[4].getIsbn()}__}"><p th:text="${RecommendationsList[4].getBook_Title()}">Title</p></a>
            <p th:text="${RecommendationsList[4].getIsbn()}">Isbn</p>
            <p th:text="${RecommendationsList[4].getBook_Author()}">Author</p>
            <p th:text="${RecommendationsList[4].getYear_Of_Publication()}">Year of publication</p>
            <p th:text="${RecommendationsList[4].getPublisher()}">Publisher</p>
            <p th:text="${RecommendationsList[4].getAverage()}">Rating</p>
            <img th:src="@{${RecommendationsList[4].getImage_Url_M()}}"/>
            <br/>
            <br/>
        </div>
    </div>
</div>

<div th:if="${isRecommendation} == false">
    <h3><p>Rate at least 3 books so we can recommend you some new ones! :D</p></h3>
</div>

</body>
</html>